<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geo.integrated.dao.AchievementHonorMapper">
  <resultMap id="BaseResultMap" type="com.geo.integrated.model.AchievementHonor">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="honor_name" jdbcType="VARCHAR" property="honorName" />
    <result column="achievement_name" jdbcType="VARCHAR" property="achievementName" />
    <result column="participants_rank" jdbcType="VARCHAR" property="participantsRank" />
  </resultMap>
  <sql id="Base_Column_List">
    id, honor_name, achievement_name, participants_rank
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from achievement_honor
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from achievement_honor
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.geo.integrated.model.AchievementHonor" useGeneratedKeys="true">
    insert into achievement_honor (honor_name, achievement_name, participants_rank
      )
    values (#{honorName,jdbcType=VARCHAR}, #{achievementName,jdbcType=VARCHAR}, #{participantsRank,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.geo.integrated.model.AchievementHonor" useGeneratedKeys="true">
    insert into achievement_honor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="honorName != null">
        honor_name,
      </if>
      <if test="achievementName != null">
        achievement_name,
      </if>
      <if test="participantsRank != null">
        participants_rank,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="honorName != null">
        #{honorName,jdbcType=VARCHAR},
      </if>
      <if test="achievementName != null">
        #{achievementName,jdbcType=VARCHAR},
      </if>
      <if test="participantsRank != null">
        #{participantsRank,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.geo.integrated.model.AchievementHonor">
    update achievement_honor
    <set>
      <if test="honorName != null">
        honor_name = #{honorName,jdbcType=VARCHAR},
      </if>
      <if test="achievementName != null">
        achievement_name = #{achievementName,jdbcType=VARCHAR},
      </if>
      <if test="participantsRank != null">
        participants_rank = #{participantsRank,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.geo.integrated.model.AchievementHonor">
    update achievement_honor
    set honor_name = #{honorName,jdbcType=VARCHAR},
      achievement_name = #{achievementName,jdbcType=VARCHAR},
      participants_rank = #{participantsRank,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>