<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geo.integrated.dao.AchievementHonorMapper">
  <resultMap id="BaseResultMap" type="com.geo.integrated.entity.AchievementHonor">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="honor_name" jdbcType="VARCHAR" property="honorName" />
    <result column="achievement_name" jdbcType="VARCHAR" property="achievementName" />
    <result column="participants_rank" jdbcType="VARCHAR" property="participantsRank" />
  </resultMap>
  <sql id="Base_Column_List">
    id, honor_name, achievement_name, participants_rank
  </sql>
</mapper>