<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geo.integrated.dao.DataCoalfieldMapper">
  <resultMap id="BaseResultMap" type="com.geo.integrated.entity.DataCoalfield">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="coalfield_name" jdbcType="VARCHAR" property="coalfieldName" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="coal_covering_area" jdbcType="VARCHAR" property="coalCoveringArea" />
    <result column="coal_forming_periods" jdbcType="VARCHAR" property="coalFormingPeriods" />
    <result column="sample_number" jdbcType="INTEGER" property="sampleNumber" />
    <result column="ash_yield" jdbcType="VARCHAR" property="ashYield" />
    <result column="relevant_paper" jdbcType="VARCHAR" property="relevantPaper" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, coalfield_name, province, coal_covering_area, coal_forming_periods, sample_number, 
    ash_yield, relevant_paper, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from data_coalfield
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from data_coalfield
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.geo.integrated.entity.DataCoalfield" useGeneratedKeys="true">
    insert into data_coalfield (coalfield_name, province, coal_covering_area, 
      coal_forming_periods, sample_number, ash_yield, 
      relevant_paper, remark)
    values (#{coalfieldName,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{coalCoveringArea,jdbcType=VARCHAR}, 
      #{coalFormingPeriods,jdbcType=VARCHAR}, #{sampleNumber,jdbcType=INTEGER}, #{ashYield,jdbcType=VARCHAR}, 
      #{relevantPaper,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.geo.integrated.entity.DataCoalfield" useGeneratedKeys="true">
    insert into data_coalfield
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="coalfieldName != null">
        coalfield_name,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="coalCoveringArea != null">
        coal_covering_area,
      </if>
      <if test="coalFormingPeriods != null">
        coal_forming_periods,
      </if>
      <if test="sampleNumber != null">
        sample_number,
      </if>
      <if test="ashYield != null">
        ash_yield,
      </if>
      <if test="relevantPaper != null">
        relevant_paper,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="coalfieldName != null">
        #{coalfieldName,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="coalCoveringArea != null">
        #{coalCoveringArea,jdbcType=VARCHAR},
      </if>
      <if test="coalFormingPeriods != null">
        #{coalFormingPeriods,jdbcType=VARCHAR},
      </if>
      <if test="sampleNumber != null">
        #{sampleNumber,jdbcType=INTEGER},
      </if>
      <if test="ashYield != null">
        #{ashYield,jdbcType=VARCHAR},
      </if>
      <if test="relevantPaper != null">
        #{relevantPaper,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.geo.integrated.entity.DataCoalfield">
    update data_coalfield
    <set>
      <if test="coalfieldName != null">
        coalfield_name = #{coalfieldName,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="coalCoveringArea != null">
        coal_covering_area = #{coalCoveringArea,jdbcType=VARCHAR},
      </if>
      <if test="coalFormingPeriods != null">
        coal_forming_periods = #{coalFormingPeriods,jdbcType=VARCHAR},
      </if>
      <if test="sampleNumber != null">
        sample_number = #{sampleNumber,jdbcType=INTEGER},
      </if>
      <if test="ashYield != null">
        ash_yield = #{ashYield,jdbcType=VARCHAR},
      </if>
      <if test="relevantPaper != null">
        relevant_paper = #{relevantPaper,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.geo.integrated.entity.DataCoalfield">
    update data_coalfield
    set coalfield_name = #{coalfieldName,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      coal_covering_area = #{coalCoveringArea,jdbcType=VARCHAR},
      coal_forming_periods = #{coalFormingPeriods,jdbcType=VARCHAR},
      sample_number = #{sampleNumber,jdbcType=INTEGER},
      ash_yield = #{ashYield,jdbcType=VARCHAR},
      relevant_paper = #{relevantPaper,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>