<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geo.integrated.dao.DataMineMapper">
  <resultMap id="BaseResultMap" type="com.geo.integrated.model.DataMine">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="mine_name" jdbcType="VARCHAR" property="mineName" />
    <result column="coalfield_name" jdbcType="VARCHAR" property="coalfieldName" />
    <result column="paper_name" jdbcType="VARCHAR" property="paperName" />
    <result column="paper_url" jdbcType="VARCHAR" property="paperUrl" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mine_name, coalfield_name, paper_name, paper_url, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from data_mine
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from data_mine
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.geo.integrated.model.DataMine" useGeneratedKeys="true">
    insert into data_mine (mine_name, coalfield_name, paper_name, 
      paper_url, remark)
    values (#{mineName,jdbcType=VARCHAR}, #{coalfieldName,jdbcType=VARCHAR}, #{paperName,jdbcType=VARCHAR}, 
      #{paperUrl,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.geo.integrated.model.DataMine" useGeneratedKeys="true">
    insert into data_mine
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mineName != null">
        mine_name,
      </if>
      <if test="coalfieldName != null">
        coalfield_name,
      </if>
      <if test="paperName != null">
        paper_name,
      </if>
      <if test="paperUrl != null">
        paper_url,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mineName != null">
        #{mineName,jdbcType=VARCHAR},
      </if>
      <if test="coalfieldName != null">
        #{coalfieldName,jdbcType=VARCHAR},
      </if>
      <if test="paperName != null">
        #{paperName,jdbcType=VARCHAR},
      </if>
      <if test="paperUrl != null">
        #{paperUrl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.geo.integrated.model.DataMine">
    update data_mine
    <set>
      <if test="mineName != null">
        mine_name = #{mineName,jdbcType=VARCHAR},
      </if>
      <if test="coalfieldName != null">
        coalfield_name = #{coalfieldName,jdbcType=VARCHAR},
      </if>
      <if test="paperName != null">
        paper_name = #{paperName,jdbcType=VARCHAR},
      </if>
      <if test="paperUrl != null">
        paper_url = #{paperUrl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.geo.integrated.model.DataMine">
    update data_mine
    set mine_name = #{mineName,jdbcType=VARCHAR},
      coalfield_name = #{coalfieldName,jdbcType=VARCHAR},
      paper_name = #{paperName,jdbcType=VARCHAR},
      paper_url = #{paperUrl,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>