<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geo.integrated.dao.LogExceptionMapper">
  <resultMap id="BaseResultMap" type="com.geo.integrated.entity.LogException">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="uri" jdbcType="VARCHAR" property="uri" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="param" jdbcType="VARCHAR" property="param" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="error" jdbcType="VARCHAR" property="error" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="ip_source" jdbcType="VARCHAR" property="ipSource" />
    <result column="os" jdbcType="VARCHAR" property="os" />
    <result column="browser" jdbcType="VARCHAR" property="browser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="user_agent" jdbcType="VARCHAR" property="userAgent" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uri, `method`, param, description, error, ip, ip_source, os, browser, create_time, 
    user_agent
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from log_exception
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from log_exception
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.geo.integrated.entity.LogException" useGeneratedKeys="true">
    insert into log_exception (uri, `method`, param, 
      description, error, ip, 
      ip_source, os, browser, 
      create_time, user_agent)
    values (#{uri,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, #{param,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{error,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, 
      #{ipSource,jdbcType=VARCHAR}, #{os,jdbcType=VARCHAR}, #{browser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{userAgent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.geo.integrated.entity.LogException" useGeneratedKeys="true">
    insert into log_exception
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uri != null">
        uri,
      </if>
      <if test="method != null">
        `method`,
      </if>
      <if test="param != null">
        param,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="error != null">
        error,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="ipSource != null">
        ip_source,
      </if>
      <if test="os != null">
        os,
      </if>
      <if test="browser != null">
        browser,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="userAgent != null">
        user_agent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uri != null">
        #{uri,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="param != null">
        #{param,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="error != null">
        #{error,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="ipSource != null">
        #{ipSource,jdbcType=VARCHAR},
      </if>
      <if test="os != null">
        #{os,jdbcType=VARCHAR},
      </if>
      <if test="browser != null">
        #{browser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userAgent != null">
        #{userAgent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.geo.integrated.entity.LogException">
    update log_exception
    <set>
      <if test="uri != null">
        uri = #{uri,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        `method` = #{method,jdbcType=VARCHAR},
      </if>
      <if test="param != null">
        param = #{param,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="error != null">
        error = #{error,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="ipSource != null">
        ip_source = #{ipSource,jdbcType=VARCHAR},
      </if>
      <if test="os != null">
        os = #{os,jdbcType=VARCHAR},
      </if>
      <if test="browser != null">
        browser = #{browser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userAgent != null">
        user_agent = #{userAgent,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.geo.integrated.entity.LogException">
    update log_exception
    set uri = #{uri,jdbcType=VARCHAR},
      `method` = #{method,jdbcType=VARCHAR},
      param = #{param,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      error = #{error,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      ip_source = #{ipSource,jdbcType=VARCHAR},
      os = #{os,jdbcType=VARCHAR},
      browser = #{browser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      user_agent = #{userAgent,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>