<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geo.integrated.dao.VisualStatisticMapper">
    <select id="getTotalPageView" resultType="java.lang.Integer">
        SELECT count(id) FROM log_visitor
    </select>
    <select id="getTodayPageView" resultType="java.lang.Integer">
        SELECT count(id) FROM log_visitor WHERE DATE(create_time)=curdate()
    </select>
    <select id="getTotalUniqueVisitor" resultType="java.lang.Integer">
        SELECT count(DISTINCT ip, to_days(create_time)) FROM log_visitor
    </select>
    <select id="getTodayUniqueVisitor" resultType="java.lang.Integer">
        SELECT count(DISTINCT ip) FROM log_visitor where to_days(create_time) = to_days(now())
    </select>

</mapper>