<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geo.integrated.dao.VisualAcademicMapper">
    <select id="getProjectTypeList" resultType="com.geo.integrated.model.dto.ProjectStatistic">
        SELECT t_a.type as name, t_b.id as type_id, COUNT(t_b.id) as value
        from ach_project t_a LEFT JOIN ach_project_type t_b
        ON t_a.type = t_b.type_name
        group by t_b.type_name
    </select>
    <select id="getHonorCount" resultType="java.lang.Integer">
        SELECT count(*) FROM ach_honor
    </select>
    <select id="getProjectCount" resultType="java.lang.Integer">
        SELECT count(*) FROM ach_project
    </select>
    <select id="getPaperPublishedCount" resultType="java.lang.Integer">
        SELECT count(*) FROM ach_paper
    </select>
    <select id="getPatentCount" resultType="java.lang.Integer">
        SELECT count(*) FROM ach_patent
    </select>
    <select id="getProjectList" resultType="com.geo.integrated.entity.AchievementProject">
        SELECT * FROM ach_project
    </select>
</mapper>